<html>
<head>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<title>Home Security - Detail</title>
</head>
<% for(var i = 0; i < items.length; i++) { %>
<a class="pure-button" href=<%= config.imagehost+items[i].filename %>><img class="pure-img" src=<%= config.imagehost+items[i].filename %> width="800" height="600"></a>
<table class="pure-table pure-table-bordered">
    <tbody>
      <tr><td>Time</td><td><%= moment(items[i].timestamp).utcOffset(config.utcOffset).format('LLLL') %></td>
      <% if(items[i].faceId) { %><tr><td>faceId</td><td><%= items[i].faceId %></td> <% } %>
      <% if(items[i].emotionType1) { %><tr><td>Emotion1</td><td><%= items[i].emotionType1 %> <%= Math.round(items[i].emotionConf1) %>%</td> <% } %>
      <% if(items[i].emotionType2) { %><tr><td>Emotion2</td><td><%= items[i].emotionType2 %> <%= Math.round(items[i].emotionConf2) %>%</td> <% } %>
      <% if(items[i].ageLow) { %><tr><td>Age</td><td><%= items[i].ageLow %> to <%= items[i].ageHigh %></td> <% } %>
      <% if(items[i].genderValue) { %><tr><td>Gender</td><td><%= items[i].genderValue %> <%= Math.round(items[i].genderConf) %>%</td> <% } %>
    </tbody>
</table>
<% } %>
</html>
